# **Introducao ao Python**

**prof: Sergio Assuncao Monteiro, DSc**

linkedin: https://www.linkedin.com/in/sergio-assun%C3%A7%C3%A3o-monteiro-b781897b/

lattes: http://lattes.cnpq.br/9489191035734025

# **Entrada e Saida de Dados**

In [9]:
print("Olah, Mundo!")

Olah, Mundo!

In [10]:
print(12345)

12345

In [11]:
#Aspas simples
print('valor',12345)
print('valor = {}'.format(12345))
print(f'valor = {12345}')

valor 12345
valor = 12345
valor = 12345

In [12]:
#Aspas duplas
print("valor",12345)
print("valor = {}".format(12345))
print(f"valor = {12345}")

valor 12345
valor = 12345
valor = 12345

In [13]:
#Variavel string
var_string = 'exemplo de string em Python'
print(var_string)
print('valor da variavel nome = {}'.format(var_string))
print(f'valor da variavel nome = {var_string}')
print(f"valor da variavel nome = {var_string}")

exemplo de string em Python
valor da variavel nome = exemplo de string em Python
valor da variavel nome = exemplo de string em Python
valor da variavel nome = exemplo de string em Python

In [14]:
#Variável numérica
var_numero = 11062022
print(var_numero)
print('valor da variável numero = {}'.format(var_numero))
print(f'valor da variável numero = {var_numero}')

11062022
valor da variável numero = 11062022
valor da variável numero = 11062022

In [15]:
#Entrada de dados
valor = int(input("Entre com um número: "))

Entre com um número: 10

# **Comandos Condicionais**

**Verificar se um número é divisível por 10.**

In [16]:
a = int(input("Digite um numero: "))
if a % 10==0:
  print(f'O numero {a} eh divisivel por 10.')
else:
  print(f'O numero {a} NAO é divisivel por 10.')

Digite um numero: 130
O numero 130 eh divisivel por 10.

**Exemplo: Dados dois numeros, encontrar o maior deles.**

In [17]:
#Estrategia 01
a = int(input("Digite um numero: "))
b = int(input("Digite um numero: "))
if(a > b):
  maior = a
else:
  maior = b
print(f'O maior numero eh: {maior}')

Digite um numero: 561
Digite um numero: 983
O maior numero eh: 983

In [18]:
#Estrategia 02
a = int(input("Digite um numero: "))
b = int(input("Digite um numero: "))
maior = a
if(b>maior):
  maior = b
print(f'O maior numero eh: {maior}')

Digite um numero: 59
Digite um numero: 78
O maior numero eh: 78

# **Comandos Iterativos**

In [19]:
contador=0
s = ''
while (contador < 10):
  s = s + str(contador)+ ' '
  contador = contador + 1
print(s)

0 1 2 3 4 5 6 7 8 9

In [20]:
s = ''
for contador in range(10):
  s = s + str(contador)+ ' '  
print(s)

0 1 2 3 4 5 6 7 8 9

# **Listas**

In [21]:
lista = [101,202,303,404,505]
print(lista)

[101, 202, 303, 404, 505]

In [22]:
print(f'lista[0] = {lista[0]} e lista[3] = {lista[3]}')

lista[0] = 101 e lista[3] = 404

In [23]:
#indexacao explicita da lista
n = len(lista)
s = ''
for i in range(n):
  s = s + str(lista[i])+ ' '
print(s)

101 202 303 404 505

In [24]:
#paradigma funcional
s = ''
for a in lista:
  s = s + str(a)+ ' '
print(s)

101 202 303 404 505

# **Vetores**

In [25]:
import numpy as np
vetor_teste = np.array([1,2,3,4,5])
print("vetor:{}".format(vetor_teste))

vetor:[1 2 3 4 5]

In [26]:
import numpy as np
vetor = np.array([5,21,33,54,85])
posicao = 3
print("vetor[{}]={}".format(posicao,vetor[posicao]))

vetor[3]=54

In [27]:
import numpy as np
vetor1 = np.array([5,21,33,54,85])
vetor2 = np.array([6,7,8,9,10])
vetor3 = vetor1 + vetor2
print("soma dos vetores:{}".format(vetor3))

soma dos vetores:[11 28 41 63 95]

In [28]:
vetor = np.array([5,21,33,6,7,8,9,10,54,85])
print(f'Tipo: {type(vetor)}')
print(f'Dimensoes: {vetor.ndim}')
print(f'Tamanho das dimensoes: {vetor.shape}')
print(f'Total de elementos: {vetor.size}')
print(f'posicao 1 = {vetor[0]}')
print(f'posicao 5 = {vetor[4]}')

Tipo: <class 'numpy.ndarray'>
Dimensoes: 1
Tamanho das dimensoes: (10,)
Total de elementos: 10
posicao 1 = 5
posicao 5 = 7

# **Dataframe**

**exemplo 01**

In [29]:
import numpy as np
import pandas as pd
dados = {'coluna 01': [1, 2], 'coluna 02': [3, 4]}
df = pd.DataFrame(data=dados)

In [30]:
df

   coluna 01  coluna 02
0          1          3
1          2          4

**exemplo 02**

In [31]:
import pandas as pd
dados_2 = {'Produto': ['A', 'B'], 'Valor': [100, 500]}
df_2 = pd.DataFrame(data = dados_2)
df_2

  Produto  Valor
0       A    100
1       B    500

**exemplo 03**

In [32]:
#Adicionar nova coluna
df_2['Estoque'] = [200, 707]
df_2

  Produto  Valor  Estoque
0       A    100      200
1       B    500      707

**exemplo 04**

In [33]:
#Outra forma de adicionar uma coluna
df_2.insert(loc=3, column="Categoria", value =['Suco', 'Cereal'])
df_2

  Produto  Valor  Estoque Categoria
0       A    100      200      Suco
1       B    500      707    Cereal

# **Funcoes**

**Exemplo 01: Somar todos os elementos de uma lista.**

In [36]:
def somatorio(lista):
  soma=0
  for elem in lista:
    soma = soma + elem
  return soma

In [37]:
lista_teste = [1,10,2,5,2,5]
resultado = somatorio(lista_teste)
print("O somatorio dos elementos da lista é:[{}]".format(resultado))

O somatorio dos elementos da lista é:[25]

**Exemplo 02: Encontrar o menor elemento de uma lista.**

In [34]:
def obter_minimo(lista):
  minimo = lista[0]
  for elem in lista:
    if(elem < minimo):
      minimo = elem
  return minimo

In [35]:
lista_teste = [2,10,3,7,-5,1,4,5]
menor = obter_minimo(lista_teste)
print("O menor elemento da lista é:[{}]".format(menor))

O menor elemento da lista é:[-5]

**Exemplo 03: encontrar o maior valor entre três números**

In [41]:
funcao_maior = lambda x,y: x if(x>y) else y

In [44]:
num1 = 10
num2 = 30
num3 = 20

In [45]:
maior01 = funcao_maior(num1,num2)
maior = funcao_maior(maior01,num3)
print(f'O maior valor entre {num1}, {num2} e {num3} eh: {maior}')

O maior valor entre 10, 30 e 20 eh: 30

**Exemplo 04: encontrar o vendedor com melhor desempenho**

In [38]:
lista = [('vendedor 01', 100), ('vendedor 02', 700),('vendedor 03', 200)]

In [39]:
#Função Lambda
maior = max(lista,key=lambda item:item[1])[0]

In [40]:
maior

'vendedor 02'